<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IcEvents</display-name>
  
  
  <listener> 
	<listener-class>com.sun.faces.config.ConfigureListener</listener-class> 
  </listener>
  
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>

  <servlet>  
    <servlet-name>Faces Servlet</servlet-name>  
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class> 
    <load-on-startup>1</load-on-startup> 
  </servlet>  
  
  <servlet-mapping>  
	<servlet-name>Faces Servlet</servlet-name>  
	<url-pattern>*.xhtml</url-pattern>  
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CadastroPessoa</servlet-name>
    <servlet-class>controller.PessoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroPessoa</servlet-name>
    <url-pattern>/usuario/cadastro</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ConsultaPessoa</servlet-name>
    <servlet-class>controller.PessoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaPessoa</servlet-name>
    <url-pattern>/usuario/busca</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListaPessoas</servlet-name>
    <servlet-class>controller.PessoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPessoas</servlet-name>
    <url-pattern>/usuario/lista</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AtualizaPessoa</servlet-name>
    <servlet-class>controller.PessoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizaPessoa</servlet-name>
    <url-pattern>/usuario/atualizar</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RemovePessoa</servlet-name>
    <servlet-class>controller.PessoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemovePessoa</servlet-name>
    <url-pattern>/usuario/remover</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EditarDadosPessoa</servlet-name>
    <servlet-class>controller.PessoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarDadosPessoa</servlet-name>
    <url-pattern>/usuario/editarDados</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.ControleAcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.ControleAcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  

  
  <servlet>
    <servlet-name>CadastroRecurso</servlet-name>
    <servlet-class>controller.RecursoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroRecurso</servlet-name>
    <url-pattern>/recurso/cadastro</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ConsultaRecurso</servlet-name>
    <servlet-class>controller.RecursoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaRecurso</servlet-name>
    <url-pattern>/recurso/busca</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListaRecursos</servlet-name>
    <servlet-class>controller.RecursoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaRecursos</servlet-name>
    <url-pattern>/recurso/lista</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AtualizaRecurso</servlet-name>
    <servlet-class>controller.RecursoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizaRecurso</servlet-name>
    <url-pattern>/recurso/atualizar</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RemoveRecurso</servlet-name>
    <servlet-class>controller.RecursoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRecurso</servlet-name>
    <url-pattern>/recurso/remover</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
	<servlet-name>CadastroSala</servlet-name>
	<servlet-class>controller.SalaController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>CadastroSala</servlet-name>
	<url-pattern>/sala/cadastro</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>ConsultaSala</servlet-name>
	<servlet-class>controller.SalaController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ConsultaSala</servlet-name>
	<url-pattern>/sala/busca</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>ListaSalas</servlet-name>
	<servlet-class>controller.SalaController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ListaSalas</servlet-name>
	<url-pattern>/sala/lista</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>AtualizaSala</servlet-name>
	<servlet-class>controller.SalaController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>AtualizaSala</servlet-name>
	<url-pattern>/sala/atualizar</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>RemoveSala</servlet-name>
	<servlet-class>controller.SalaController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>RemoveSala</servlet-name>
	<url-pattern>/sala/remover</url-pattern>
  </servlet-mapping>
  
</web-app>